body {
    margin-left: 39%;
}

.logo {
    background-color: rgb(80, 75, 88);
    width: 400px;
    height: 150px;
    display: flex;
    justify-content: center;
}

a,
.saperText {
    text-decoration: none;
    color: white;
}

.logo-text {
    font-size: 50px;
    margin-top: auto;
    margin-bottom: auto;
    color: white;
}

.nav {
    display: flex;
    flex-direction: column;
    width: 400px;
    min-height: 420px;
    margin-top: 10px;
    background-color: rgb(80, 75, 88);
    padding-bottom: 20px;
}

.linkWrap {
    background-color: rgb(15, 22, 35);
    width: 88%;
    min-height: 30px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-top: 9px;
    text-decoration: none;
    color: white;
}

.articlesList {
    min-height: 400px;
}

.articleWrap {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 400px;
    margin-top: 10px;
    background-color: rgb(67, 60, 79);
    margin-top: -400px;
}

.articleParagraph {
    background-color: rgb(0, 0, 0);
    text-decoration: none;
    color: white;
    width: 88%;
    height: 350px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-top: 9px;
    margin-top: -22px;

}

.articleH1 {
    width: 88%;
    height: 50px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-top: 9px;
    font-size: 20px;
    background-color: rgb(0, 0, 0);
    text-decoration: none;
    color: white;
}

.back-text {
    text-decoration: none;
    color: white;
}

.banner {
    position: relative;
    background-color:rgb(80, 75, 88);
    width: 400px;
    height: 120px;
}

.banner-text {
    font-size: 50px;
    text-align: center;
    margin-top: 10px;
    color: white;
    padding-top: 25px;
}

.gamesBack {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 40px;
    width: 400px;
    margin-top: 10px;
    background-color: rgb(71, 63, 85);
    padding-bottom: 20px;
}

.notificationBlock {
    display: flex;
    flex-direction: column;
    background-color: black;
    width: 88%;
    min-height: 60px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-top: 9px;
    text-decoration: none;
    color: white;
    text-align: center;
}
.area{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: black;
    width: 88%;
    height:400px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-top: 9px;
}
.gameItem, .gameItemwin, .gameItemlose, .gameItemAddedAttempt{
    background-color: rgb(180, 179, 179);
    width: 50px;
    height: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 20px;
    cursor: pointer;
}

.firstRow, .secondRow, .thirdRow, .fourthRow, .fifthRow {
    display: flex;
    justify-content: space-around;
}
.win{
    width: 50px;
    height: 50px;
    background-image: url("png/checkmark.png")!important;
    background-size: cover!important;
    pointer-events: none;

}
.lose{
    width: 50px;
    height: 50px;
    background-image: url("png/close.png")!important;
    background-size: cover!important;
    pointer-events: none;
}
.addedAttempt{
    width: 50px;
    height: 50px;
    background-image: url("png/add.png")!important;
    background-size: cover!important;
    pointer-events: none;
}